.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin-top: 250px;
}

p{
width: 87vw!important;
}
.collapsed{
    width: 90vw!important;
}

.accordion-item {
    background-color: transparent!important; 
    outline: none!important; 
    width: 90vw!important;
    text-decoration-color: black!important;
}  


.accordion-button:not(.collapsed) {
    background-color: transparent!important; 
    outline: none!important; 
    text-decoration-color: black!important;
}

.accordion-button:focus {
    background-color: transparent!important; 
    outline: none!important; 
  }

  button:focus {
    outline: none!important; 
  } 