.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin-top: 250px;
}

p{
width: 87vw!important;
}
.collapsed{
    width: 90vw!important;
}

.accordion-item {
    background-color: transparent!important; /* or your desired color */
    outline: none!important; /* This removes the blue outline */
    width: 90vw!important;
}  


.accordion-button:not(.collapsed) {
    background-color: transparent!important; /* or your desired color */
    outline: none!important; /* This removes the blue outline */
}

.accordion-button:focus {
    background-color: transparent!important; /* or your desired color */
    outline: none!important; /* This removes the blue outline */
  }

  button:focus {
    outline: none!important; /* This removes the blue outline */
  } 